<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div><b>id:</b> {{user.id}}</div>
<div><b>lastName:</b> {{user.lastName}}</div>
<div><b>email:</b> {{user.email}}</div>
<div><b>password:</b> {{user.password}}</div>
<div><b>age:</b> {{user.age}}</div>
<div><b>city:</b> {{user.city}}</div>
<a href="/delete/{{user.id}}"><b>delete</b></a>
</body>
</html>